<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>PDF</title>
    </head>
    <body>
        <div>
            Ticket #{{ ticket.id }} <br>
            Flight #{{ ticket.flight.id }}
        </div>
        <div>
            <img src="http://mamanraconte.fr/wp-content/uploads/2014/01/avion-b%C3%A9b%C3%A9-dans-un-vol-long-courrier.jpg"
                 alt="">
        </div>
    </body>
</html>


